[Unit]
Description=uptime checker which pings google every 30 seconds

[Service]
Type=simple
WorkingDirectory=/var/log/rup
ExecStart=/usr/bin/rup

[Install]
WantedBy=multi-user.target
